<%- model_class = AreaString -%>

<div class="panel panel-default monospace">

  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Strings', area_area_strings_path(@area) %> / New String
    </h5>
  </div>

    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_area_strings_path(@area) %></div>

</div>
