<div class="jumbotron monospace-pre">The Apprentice's Workshop
<font color=red>[</font><font color=darkred>Exits: <u>north</u> <u>east</u> <u>south</u> <u>west</u> <u>up</u> <u>down</u></font><font color=red>]</font>
You stand upon a blank page, waiting to be written.

<font color=lightgray>></font></div>