<div class="jumbotron monospace-pre">About the Workshop
<font color=red>[</font><font color=darkred>Exits: <u>none</u></font><font color=red>]</font>
Insert something clever here!

<font color=lightgray>></font></div>