
<div class="jumbotron">
        
    <p><b>The Apprentice's Workshop</b><br>
    [Exits: none]<br>
    You stand upon a blank page, waiting to be written.</p>
    <p>></p>
    
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
    <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>

</div>