<%- model_class = Obj -%>

<div class="panel panel-default monospace">

  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Objects', area_objs_path(@area) %> / New Object
    </h5>
  </div>
  
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_objs_path(@area) %></div>

</div>
