<%- model_class = Reset -%>
<div class="panel panel-default monospace">
  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Resets', area_resets_path(@area) %> / New Reset
    </h5>
  </div>
    <div class="panel-body">

        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_resets_path(@area) %></div>

</div>
