<div id=<%= "\"study_#{reset.id}\"".html_safe %> hidden='hidden'><% obj = Obj.find(reset.obj_id) %><font color=yellow>study <%=
obj.keywords.slice(/\w+/) %></font>

<font color=silver>Study, study.

></font></div>