<div class="btn-group pull-right" role="group" aria-label="...">
  <%= link_to "Rooms", area_rooms_path(@area), :class => 'btn btn-default btn-xs' %>
  <%= link_to "Mobiles", area_mobiles_path(@area), :class => 'btn btn-default btn-xs' %>
  <%= link_to "Objects", area_objs_path(@area), :class => 'btn btn-default btn-xs' %>
  <%= link_to "Resets", area_resets_path(@area), :class => 'btn btn-default btn-xs' %>
</div>