<div class="panel panel-primary">
  <div class="panel-heading">Area Review</div>
  <div class="panel-body">

    <!-- REVIEW ROOMS FOR ISSUES -->
    <ul class="list-group">
      
      <% @area.rooms.order(:vnum).each do |room| %>
      
        <% if room.any_loopback_exits? %><li class="list-group-item list-group-item-info">Loopback exits detected in room <%= link_to room.vnum_and_name, area_room_path(@area, room) %>.</li><% end %>
        
        <% if room.any_oneway_exits? %><li class="list-group-item list-group-item-info">Oneway exits detected in room <%= link_to room.vnum_and_name, area_room_path(@area, room) %>.</li><% end %>
      
        <% if room.any_illogical_exits? %><li class="list-group-item list-group-item-warning">Illogical exits detected in room <%= link_to room.vnum_and_name, area_room_path(@area, room) %>.</li><% end %>

        <% if room.any_bad_exits? %><li class="list-group-item list-group-item-danger">Bad exits detected in room-- <%= link_to '#{room.formal_vnum} #{room.name}', area_room_path(@area, room) %>.</li><% end %>
        
      <% end %>
    
    </ul>

  </div>
</div>