<%- model_class = Area -%>

<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
    </div>
    <div class="panel-body monospace">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', areas_path %></div>

</div>
