<% if @area.resets.where(reset_type: ['M', 'Q']).where(val_4: @room.id).count > 0 %><%
@area.resets.order(:val_2).where(reset_type: ['M', 'Q']).where(val_4: @room.id).each do |reset| %><% if Mobile.exists?(:id => reset.obj_id) %><a
href="#" onclick="toggleLook(<%= reset.id %>)"><%= mobile_room_view(reset.mobile_id) %></a><%= render 'reset_in_room', :reset => reset %>
<% end %><% end %><% end %>