<%- model_class = Room -%>

<div class="panel panel-default monospace">

  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Rooms', area_rooms_path(@area) %> / New Room
    </h5>
  </div>
  
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_rooms_path(@area) %></div>

</div>
